/* .container {
  background-color: #b53b3b;
  color: #8e8e8e;
  font-weight: 10000;
  font-family: "Roboto","Trebuchet MS", sans-serif;
}

.container label {
  font-weight: 100;
  background-color: #b53b3b;
  color: white;
}

body {
  background-color: #b53b3b;
}

.jumbotron {
  margin: 50px;
  background-color: white;
}

.btn btn-primary {
  background-color: red;
  color: aliceblue;
} */
